<div class="container bg-dark text-light" style="height: 300px;">
  <div class="row">
    <div class="col-6  mt-5">
     <h1>Great Quality</h1>
     <p>Great Quality! Can not have actually requested far better solution.
      Fantastic shipping with immediate shipments to numerous addresses. Upon
      seeing my admission of a blooper with one order, Customer Service called
      right away to assure me they had made the adjustment. My buddies were
      pleased to acquire their publications. What's your opinion of Online Store
      Clients Template?</p>
      
    </div>
    <div class="col-6  mt-5">
        <h1>Great Quality</h1>
        <p>Great Quality! Can not have actually requested far better solution.
         Fantastic shipping with immediate shipments to numerous addresses. Upon
         seeing my admission of a blooper with one order, Customer Service called
         right away to assure me they had made the adjustment. My buddies were
         pleased to acquire their publications. What's your opinion of Online Store
         Clients Template?</p>
      </div>
  </div>
</div>
