.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
    color: #3b71ca !important;
  }
  
  .icon-hover:hover i {
    color: #3b71ca !important;
  }

  .back {
    margin-top: 5%;
    border-radius: 50% !important;
    background-color: rgba(255, 255, 255, 0.2);
    color: darkblue;
    border: none !important;
    padding: 30px 30px !important;
    transition: background-color 1s, color 1s, transform 0.5s;
    transition: background-color 1s, transform 0.5s;
  }
  
  .back:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    transform: translateX(-5px);
    box-shadow: 5px 0px 18px 0px rgba(105,105,105,0.8);
  }
  .prevnext{
    margin-top: 5%;
    margin-right: 5%;
    border-radius: 50% !important;
    background-color: rgba(173, 175, 170, 0.2);
    color: darkblue;
    border: none !important;
    padding: 20px 20px !important;
    transition: background-color 1s, color 1s, transform 0.5s;
  
  }
  .prev:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    transform: translateX(-5px);
    box-shadow: 5px 0px 18px 0px rgba(105,105,105,0.8);
  
  }
  .next:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    transform: translateX(5px);
    box-shadow: 5px 0px 18px 0px rgba(105,105,105,0.8);
  
  }